Source: ros-noetic-mikrotik-swos-tools
Section: misc
Priority: optional
Maintainer: Martin Pecka <peckama2@fel.cvut.cz>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-message-generation, ros-noetic-std-msgs
Homepage: https://github.com/peci1/mikrotik_swos_tools
Standards-Version: 3.9.2

Package: ros-noetic-mikrotik-swos-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-future, python3-requests, ros-noetic-message-runtime, ros-noetic-rospy, ros-noetic-std-msgs
Description: Integration between ROS (Robot Operating System) and Mikrotik SwOS
